<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lxy.basemodel" >

    <application>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.lxy.basemodel.detail.ArticleDetailActivity"
            android:configChanges="orientation" />
    </application>
</manifest>
